/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

1rem = 10px

color
#00b3db
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-bar {
  text-align: center;
}

section > .container {
  background-color: orangered;
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}

html {
  /* font-size: 10px;
  10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a4000;
  border-bottom: 0.8rem solid #087f5b;
}

.bg-grey {
  background: #f7f7f7;
}

/* banner section */
#banner-img {
  width: 100%;
}

#banner-text {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  position: absolute;
}

#dr {
  font-size: 3.6rem;
  font-weight: lighter;
}

#dt {
  font-size: small;
  margin: 4.5rem;
}

/* nav-bar section */
#nav-bar {
  text-align: center;
}

/* chữ giữa nav-bar icon  */
.topnav-a {
  display: inline-block;
  border: 0.2rem groove rgba(0, 0, 0, 0.052);
  border-top: 0;
  border-bottom: 0;
  text-decoration: none;
  padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  color: black;
  font-size: 1.6rem;
}

#topnav-a {
  vertical-align: middle;
  line-height: 0.8;
}

#da {
  margin: 0 1.5rem;
  font-size: 2.3rem;
}

#df {
  font-size: 1.2rem;
  opacity: 0.3;
}

/* nav-bar icons  */
.icon-user {
  vertical-align: text-bottom;
  margin-right: -1rem;
  height: 1.8rem;
  width: 3rem;
  color: #00b3db;
}

/* about section */
#about {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 33rem;
}

/* Mục tiêu nghề nghiệp và Thông tin cá nhân*/
#target {
  background: #f7f7f78e;
}

#personal-info {
  background: #f7f7f7;
}

.section-title {
  font-size: 2.5rem;
  margin: 7.4rem 0 0 4rem;
}

.mt-40 {
  opacity: 0.7;
  line-height: 1.6;
  font-size: small;
  margin: 2.4rem 0 0 4rem;
  list-style: none;
}

/* about icons */
.icons {
  margin: 2rem 0 0 4rem;
}

.icon {
  margin-left: 1.6rem;
  color: #00b3db;
  width: 2rem;
  height: 1.6rem;
}

/* job-info section */
#job-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 4rem 22rem 0 22rem;
  height: 60rem;
}

.job-text {
  border: 0.2rem groove rgba(0, 0, 0, 0.056);
}

.job-info {
  margin-bottom: 4.5rem;
}

.text-title {
  display: grid;
  grid-template-columns: 75% 25%;
  font-size: 2.5rem;
  margin: 5rem 4rem 6rem 3rem;
}

.title-icon {
  width: 3.6rem;
  height: 4.4rem;
  color: #000000;
  opacity: 0.3;
}

.text-1 {
  line-height: 1.6;
  font-size: 1.4rem;
  margin: 3rem 3rem 0 4rem;
}

.text-2 {
  opacity: 0.7;
  list-style: none;
  font-size: 1.4rem;
}

.text-3 {
  opacity: 0.7;
  line-height: 1;
  font-size: 1.4rem;
  margin: 2.4rem 0 0 3rem;
  list-style: none;
}

.bue {
  color: blue;
  font-size: 3rem;
  margin-right: 1rem;
}

.gey {
  color: grey;
  font-size: 3rem;
  margin-right: 1rem;
}

.text-6 {
  opacity: 0.7;
  font-size: 1.4rem;
  text-decoration: none;
}

/* sở thích text và icon  */
#cvt {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 1rem;
  text-align: center;
}

/* icon trong phần sở thích  */
.texts-icon {
  border: 0.1rem solid #00b3db;
  border-radius: 50%;
}

.text-icon {
  align-content: center;
  width: 3.5rem;
  fill: #00b3db;
}

/* certificate-reward section  */
#certificate-reward {
  margin-top: 45rem;
}

.section {
  padding: 5rem 0 0 22.5rem;
}

#certificate {
  gap: 2rem;
  display: grid;
  grid-template-rows: 50% 50%;
  align-content: center;
  margin: 0 22.5rem;
  height: 33rem;
}

#FUNIX {
  gap: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.certificate-img {
  float: left;
  height: 8rem;
  width: 15rem;
  margin-top: 4rem;
}

.certificate-text {
  float: left;
  margin: 4rem 0 0 2.5rem;
  font-size: 1.4rem;
}

.text {
  margin-top: 1rem;
  margin-left: -2.2rem;
  opacity: 0.7;
  list-style: none;
}

#WEB-border {
  border-right: 0.1rem groove orangered;
}

#certificate-border {
  border-top: 0.1rem groove orangered;
}

/* project section  */
#project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  height: 40rem;
  font-size: 1.5rem;
  margin: 3rem 12% 0 12%;
}

.project-title {
  border-bottom: 0.2rem groove rgba(0, 0, 0, 0.075);
  margin-top: 1.4rem;
}

.project-icon {
  color: black;
  margin-left: 3rem;
  text-decoration: none;
}

.header {
  color: black;
  margin-left: 2.4rem;
  text-decoration: none;
}

.number {
  margin-left: 2.4rem;
  text-decoration: none;
  background-color: #00b3db;
  border-radius: 30%;
  color: #fff;
}

.icon-1 {
  height: 2.4rem;
  width: 2rem;
}

.title-1 {
  border: 0.3rem groove rgba(0, 0, 0, 0.075);
}

.project-img {
  height: 24rem;
  width: 100%;
}

.text-5 {
  border-top: 0.3rem groove rgba(0, 0, 0, 0.075);
}

.text-7 {
  display: inline-block;
}

.text-8 {
  width: 76%;
}

td {
  opacity: 0.6;
  padding: 1.2rem 0.5rem 1.1rem 0.7rem;
}

/* footer section */
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10rem;
  margin-top: 22rem;
}

#fb {
  text-align: right;
}

#lk {
  text-align: center;
}

#Git {
  text-align: left;
}

.footer-text {
  opacity: 0.5;
  margin-top: 4rem;
}

.Layer_1 {
  vertical-align: text-bottom;
  height: 2.4rem;
  width: 2.4rem;
  fill: #00b3db;
}
