@media (max-width: 425px) {
  /* banner section  */
  #banner p {
    font-size: 1.2rem;
  }

  #banner h1 {
    font-size: 2.3rem;
  }

  #banner-text {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: lighter;
  }
}
